* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url("bg1.jpg") no-repeat top center / 1200px auto #2c150b;
    color: #1a171b;
}

#header {
    width: 695px;
    height: 570px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}

.circle {
    background: white;
    border-radius: 50%;
    text-align: center;
}

#header-logo {
    position: absolute;
    width: 350px;
    left: -40px;
    top: 0;
}

/************************************************************    banber    */
#banner {
    background: #565658;
    background: -moz-linear-gradient(top,  #565658 0%, #19171c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565658), color-stop(100%,#19171c));
    background: -webkit-linear-gradient(top,  #565658 0%,#19171c 100%);
    background: -o-linear-gradient(top,  #565658 0%,#19171c 100%);
    background: -ms-linear-gradient(top,  #565658 0%,#19171c 100%);
    background: linear-gradient(to bottom,  #565658 0%,#19171c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565658', endColorstr='#19171c',GradientType=0 );
    text-align: center;
    height: 240px;
}
#banner img {
    position: relative;
    z-index: 1;
}

/************************************************************    circle1    */

#circle1 {
    position: absolute;
    width: 556px;
    height: 556px;
    right: -60px;
    top: 50px;
}

.text-area {
    padding-top: 80px;
    position: relative;
}

h1 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
}

#circle1 p {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}

input {
    padding: 13px;
    line-height: 1;
    text-align: center;
    width: 95%;
    max-width: 390px;
    border-radius: 26px;
    font-size: 30px;
    color: #1a171b;
    border: 4px solid #1a161b;
    margin-top: 36px;
    box-sizing: border-box;
}

.send {
    width: 117px;
    height: 115px;
    background: url("send.png") no-repeat top center;
    background-size: 100% 100%;
    border: 0;
    cursor: pointer;
    transition: background-image 0.2s;
}

.send:hover {
    background: url("send-hover.png") no-repeat top center;
}

input[placeholder], [placeholder], *[placeholder], ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
    opacity: 1;
    color: #1a161b !important;
}

.subscribed {
    padding-top: 70px;
    display: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: none;
}

#mce-EMAIL-error {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
    font-size: 16px;
}

/************************************************************    some    */

#some {
    position: absolute;
    width: 290px;
    height: 290px;
    left: -20px;
    top: 360px;
}

#some li {
    list-style: none;
    position: absolute;
}

#some a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: background 0.1s;
}

#facebook {
    left: 60px;
    bottom: 150px;
    width: 59px;
    height: 57px;
}

#facebook a {
    background: url("facebook.png") 0 0 / 59px 57px no-repeat;
}

#facebook a:hover {
    background: url("facebook-hover.png") 0 0 / 60px 57px no-repeat;
}

#twitter {
    right: 60px;
    bottom: 150px;
    width: 62px;
    height: 49px;
}

#twitter a {
    background: url("twitter.png") no-repeat;
}

#twitter a:hover {
    background: url("twitter-hover.png") no-repeat;
}

#solu-email {
    left: 0;
    right: 0;
    bottom: 70px;
    background: url("email.png") no-repeat top center / auto 100%;
    height: 30px;
}

/************************************************************    team    */

#team {
    position: relative;
    width: 710px;
    margin: 0 auto;
    text-align: center;
}

#team h2 {
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50%;
    background: black;
    color: white;
    width: 290px;
    height: 290px;
    margin-bottom: -75px;
    padding-top: 125px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
}

#team > .circle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: 130px 12px 0;
    padding: 40px 10px 0 10px;
    transition: z-index 0s 0.2s;
}

#team .circle > * {
    position: relative;
    z-index: 2;
}

#team img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute !important;
    left: 0;
    top: -120px;
}

#team h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

#team h4 {
    padding-top: 5px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
}

#team .icon {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: white 0 0 / 100%;
    width: 39px;
    height: 39px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

.team-twitter {
    left: 0;
    top: 0;
    background-image: url("team/icon_twitter.png") !important;
}

.team-twitter:hover {
    background-image: url("team/icon_twitter_hover.png") !important;
}

.open .team-twitter {
    left: -30px;
    top: 50px;
}

.team-linkedin {
    right: 0;
    top: 0;
    background-image: url("team/icon_linkedin.png") !important;
}

.team-linkedin:hover {
    background-image: url("team/icon_linkedin_hover.png") !important;
}

.open .team-linkedin {
    right: -30px;
    top: 50px;
}

.bio-open {
    cursor: pointer;
    left: calc(50% - 18px);
    bottom: 0;
    background-image: url("team/icon_info.png") !important;
}

.bio-open:hover {
    background-image: url("team/icon_info_hover.png") !important;
}

.open .bio-open {
    bottom: -140px;
    background-image: url("team/icon_close.png") !important;
}

.open .bio-open:hover {
    background-image: url("team/icon_close_hover.png") !important;
}

#team .open {
    z-index: 2;
    transition-delay: 0s;
}

#team .bio {
    visibility: hidden;
    z-index: 1 !important;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    padding: 110px 20px 0 20px;
    font-size: 12px;
    line-height: 1.1;
    color: transparent;
    transition: all 0.1s;
}

#team .open .bio {
    visibility: visible;
    left: -85px;
    width: 320px;
    height: 320px;
    padding: 110px 20px 0 20px;
    color: black;
    transition: all 0.1s, color 1s 0.1s;
}

.bio-bg {
    position: fixed !important;
    z-index: 0 !important;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: black;
    opacity: 0.0;
    transition: opacity 0.2s, width 0s 0.2s, height 0s 0.2s;
}

.open .bio-bg {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
    opacity: 0.7;
}

#setok {
    margin-left: 50px !important;
}

#pekka {
    margin-right: 50px !important;
}

#javier.open .bio {
    width: 300px;
    height: 300px;
    left: -75px;
}

#javier.open .bio-open {
    bottom: -120px;
}

#juha.open .bio {
    width: 360px;
    height: 360px;
    left: -105px;
}

#juha.open .bio-open {
    bottom: -180px;
}

/************************************************************    footer    */

#footer {
    position: relative;
    clear: both;
    margin: 75px auto;
    width: 666px;
    min-height: 383px;
    background: url("bg_about.png") no-repeat top center / 100% auto #2c150b;
}

#footer-logo {
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 100px;
    width: 212px;
    height: 212px;
    transition: transform 2s ease-in-out;
}

#footer-logo:hover {
    transform: rotate(720deg);
    transition-delay: 1s;
}

#about {
    position: absolute;
    box-sizing: border-box;
    left: 50px;
    top: 50px;
    padding: 30px;
    width: 350px;
    height: 350px;
    shape-inside: circle(175px);
}

#about h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    padding: 20px 0 10px;
}

#about p {
    font-size: 14px;
}

#jobs {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 175px;
    right: 50px;
    width: 150px;
    height: 150px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    text-decoration: none;
    background: url("icon_linkedin2.png") white no-repeat center 75px;
    color: black;
    transition: background 0.2s;
}

#jobs:hover {
    background-image: url("icon_linkedin2_hover.png");
}

/************************************************************    @media    */

@media all and (max-width: 705px) {
    #header, #footer {
        zoom: 0.8;
    }

    #team {
        width: 510px;
    }

    #setok {
        margin-left: 0 !important;
    }

    #pekka {
        margin-right: 0 !important;
    }
}
